body {
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
}

.game-display {
  background-image: url('./flappybirdbg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.ggg {
  font-family: 'Roboto', sans-serif;
  font-family: 'Silkscreen', sans-serif;
}